<template>
  <div>
    <!-- trinity-needle-add-entity-to-menu - Trinity will add entities to the menu here -->
  </div>
</template>

<script lang="ts" src="./entities-menu.component-test.ts"></script>
